@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&&family=Dosis&family=El+Messiri&family=Josefin+Sans:wght@600&family=Righteous&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a:hover {
  color: rgb(115, 7, 121)
}

:root {
  --headshot-ratio: 1.20;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainPage {
  background-color: #f5fffd;
  height: 100%;
}

.mainSection {
  margin: 0em 1em 1em 0em;
  padding: 2em 1em 1em 1em;
  background-color: #f5fffd;
  /* font-family: "Caveat", cursive; */
  /* font-family: "Josefin Sans", sans-serif; */
  /* font-family: "Righteous", cursive; */
}

.mainContent {
  margin-top: 1em;
}

.pageTitle {
  font-size: 500% ;
}

.customNav {
  font-family: "El Messiri", sans-serif;
  color: #f5fffd;
  /* margin-bottom: 1em; */
  background: rgb(39, 2, 71);
  background: linear-gradient(90deg, rgba(39, 2, 71, 1) 6%, rgba(36, 3, 75, 1) 64%, rgba(0, 13, 124, 1) 87%, rgba(212, 74, 211, 1) 100%);
  box-shadow: 1px 1px 2px rgb(39, 1, 88);
  
}

.mainSection {
  border: #edfff9;
  border-style: solid;
  border-radius: 1px;
}

@media (max-width: 600px) {
  .mainSection {
    scroll-margin-top: 8em;
  }
}

@media (min-width: 580px) {
  .mainSection {
    scroll-margin-top: 4em;
  }
}

.mainSection>h2 {
  font-family: "Josefin Sans", sans-serif;
  color: #041401;
  font-weight: bold;
  box-shadow: 0px 1px;
  /* margin-bottom: 1em; */
}

.mainSection>h5 {
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  margin: 1em 0em 1em 0em;
}

.infoSection {
  margin-top: 2em;
}

.infoSection>h3 {
  font-style: italic;
}

.infoSection>h5 {
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-style: italic;
  margin: 1em 0em 1em 0em;
}

.moreInfo {
  margin: 1em;
}

.infoView {
  font-size: 1.2em;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 1em;
}

.listText {
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
  font-size: medium;
}

.custom-inline {
  box-shadow: 2px 2px 0px #c3c9c1;
  padding: 1em 1em 0em 1em;
  font-size: x-large;
}

.MainView{
  background: rgb(39, 2, 71);
    background: radial-gradient(circle, rgba(39, 2, 71, 1) 0%, rgba(130, 94, 162, 1) 62%, rgba(0, 0, 0, 1) 91%);
}

.MainView > * {
  font-family: 'Raleway', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  color:#c3c9c1;
  
}



.navbar-brand {
  margin-left: 2em;
}

.copyRightBanner {
  padding:0.5em 0.5em 0.5em 1%;
  background: rgba(5, 14, 0, 0.7);
  color: white;
}


.copyRightText{
  font-size: large;
  font-weight: 400;

}

.PlatformsDisplayMain {
  /* margin: 2em 2em 2em 0em; */
  width: 50%;
  margin: auto;
  padding: 0.3em;
  display: flex;
  justify-content: space-evenly;

}

.PlatformDisplayLink{
  margin: 0em 1.25em 0em 0em;
}

.musicSection {
  display: block;
  margin: auto;


}

.musicPlayerContainer {
  margin: auto;
  width: 50%;
}

.musicPlayerContainer>p {
  text-align: center;
}

.BioText {
  margin: auto;
  width: 50%;
  height: 50%;
}

@media screen and (min-width: 650px){
  .BioSection, .musicSection {
    width: 75%;
  }

  .BioText {
  width: 75% ;
  }

  .headshotPhotoContainer {
    width: 400px;
    height: calc(400px * var(--headshot-ratio));
    margin: auto;
    padding: 1em;
  }
  
}

@media screen and (min-width: 1500px) {

  .BioSection,
  .musicSection {
    width: 50%;
  }
  .headshotPhotoContainer {
    width: 500px;
    height: calc(500px * var(--headshot-ratio));
    margin: auto;
    padding: 1em;
  }
  .BioText {
    margin: auto;
    width: 80%;
    height: 80%;
  }

    .musicPlayerContainer {
      margin: auto;
      width: 350px;
      margin-bottom:1em;
    }
}
@media screen and (max-width:651px){
  .BioSection {
    width: 85%;
  }
  .musicSection {
      width: 90%;
  }
  .musicPlayerContainer {
    width: 85%;
  }
  .PlatformsDisplayMain{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .headshotPhotoContainer {
    width: 300px;
    height: calc(300px * var(--headshot-ratio));
    margin: auto;
    padding: 1em;
  }

  .BioText {
    width: 85%;
  }
}


@media screen and (max-width:400px) {

  .BioText {
      width: 85%;
    }
  .headshotPhotoContainer {
    margin: auto;
    padding: 0.5em;
  }
}


.BioSection{
  margin-top: 2em;
  margin-bottom: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}

.ContactSection {
  background: rgba(5, 14, 0, 0.7);
  color: white; 
  padding:1em;
}

.ContactSection > a:link {
  color: rgb(172, 133, 215);
}

.PlatformDisplayLink{

  color:rgb(243, 30, 172);
  margin:0.5em;
}

.BannerImage{
  width: 100%;
  height: 20%;
  background-position: center;
  box-shadow: 3px 2px 2px #f9ae9d ;
  color:#ffda33;
  margin-bottom:1em;
  padding:1em;
  
}
.BannerImage > h1 {
  margin: 0.5em;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

iframe {
  border: 0; 
  width: 100%; 
  height: 470px;
  margin:auto;
}


.socialLinksContainer {
  display:flex;
  border-radius: 15px 50px;
  width:50%;
  margin:auto;
  padding:0.3em;
  justify-content: space-evenly;
  background-color: rgba(39, 2, 71, 0.7);


}

.headshotPhotoContainer img {
  /* width: 500px;
  height:750px; */
  width: 100%;
  height:100%;
  margin: auto;
  padding: 1em;
  border-radius: 15%;
  background-color: rgba(15, 1, 61, 0.7);
}

.linkText {
  margin-left:1em;
  color:white;
}
